*:not(head),
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #575252;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  font-size: 18px;
  line-height: 180%; }
  body.lock {
    overflow: hidden; }
  body header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center; }
    body header div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%; }
      body header div img {
        width: 10%;
        padding-top: 1%;
        padding-bottom: 1%; }
      body header div a {
        color: aliceblue; }
  body main {
    width: 70%;
    margin: 10% auto 0 auto; }
    body main p {
      margin-bottom: 4%; }
      body main p a {
        color: red; }
  body .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s; }
    body .popup .popup-area {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    body .popup .popup-body {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3% 1%; }
      body .popup .popup-body .popup-content {
        position: relative;
        background-color: white;
        color: black;
        max-width: 50%;
        padding: 30px;
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg); }
        body .popup .popup-body .popup-content .popup-close {
          position: absolute;
          right: 10px;
          top: 10px;
          color: black;
          text-decoration: none; }
        body .popup .popup-body .popup-content .popup-title {
          font-size: 30px;
          margin: 0px 0px 1em 0px; }
    body .popup.open {
      opacity: 1;
      visibility: visible; }
      body .popup.open .popup-content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1; }
